body{
    background-image: url('background.png');
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
}


#banner{
    background-image: url('bannerbackground.png');
    background-repeat:repeat-x;
    height: 50px;
    text-align:center;
}

h1{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif
}

#whole{
    margin: auto;
    width: 800px;
    border-width: 4px;
    border-style: solid;
    border-color: gray;
}


#whole #leftreviews{
    float: left;
    width: 550px;

}

#whole #leftreviews .left_left_reviews{
    width:47%; 
    margin-top: 2%;
    margin-left: 2%;     
    float: left;
}

#whole .lr{
    margin-top: 2%;
}



#whole #leftreviews .left_right_reviews {
    width: 47%;
    margin-top: 2%;
    margin-left:2%;
    float: left;

}

#whole .rr{
    margin-top: 2%;
}

#whole #rotten{
    float: left;
    background-image: url('rottenbackground.png');
    background-repeat: repeat;
    width: 550px;
    font-size: 8pt;
    height: 83px;
    color:white;
}

#whole #rottenimg{
    float: left;
    
}

#whole #number{
    font-size: 48pt;
    color: red;
}

#whole #right_part{
    float: left;
    width:250px;
    background-color:#A2B964; 
}

#whole #right_part dt{
    font-weight: bold;
}

#whole #right_part #info{
    padding: 10px;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}

#whole #right_part #info .info_part{
    margin-top: 1em;
}


#whole #page{
    text-align: center;
    background-color:#A2B964;
    clear: both;
}

#whole #page p{
    padding: 5px;
    margin:0%;

}